<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://db4free.net:3306/trip_broker</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="model.CreaPacchettoEntity"/>
    <mapping class="model.DipendentiEntity"/>
    <mapping class="model.EventoEntity"/>
    <mapping class="model.OffertaEntity"/>
    <mapping class="model.PacchettoOffertaEntity"/>
    <mapping class="model.PernottamentoEntity"/>
    <mapping class="model.PoliticheEntity"/>
    <mapping class="model.ProdottoEntity"/>
    <mapping class="model.ProdottoUtenteEntity"/>
    <mapping class="model.UtenteEntity"/>
    <mapping class="model.ViaggioEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>