<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://db4free.net:3306/trip_broker</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">caim03</property>
    <property name="hibernate.connection.password">asroma93</property>
    <mapping class="model.entityDB.CreaPacchettoEntity"/>
    <mapping class="model.entityDB.DipendentiEntity"/>
    <mapping class="model.entityDB.EventoEntity"/>
    <mapping class="model.entityDB.OffertaEntity"/>
    <mapping class="model.entityDB.PacchettoOffertaEntity"/>
    <mapping class="model.entityDB.PernottamentoEntity"/>
    <mapping class="model.entityDB.PoliticheEntity"/>
    <mapping class="model.entityDB.ProdottoEntity"/>
    <mapping class="model.entityDB.ProdottoUtenteEntity"/>
    <mapping class="model.entityDB.UtenteEntity"/>
    <mapping class="model.entityDB.ViaggioEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>