.text-field:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1;
    -fx-border-color: null;
    -fx-background-color: null;
}

.text-field{
    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-background-color: null;
    -fx-select-on-focus:false;
}

.button {
    -fx-background-color: #FF5252;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-border-color: null;
    -fx-background-color: #FF5252;
    -fx-text-fill: white;
}

.list-view {
    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-select-on-focus:false;
}

.list-view:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1;
    -fx-border-color: null;
    -fx-background-color: null;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.tab-pane {
    -fx-fill-height: true;
    -fx-cell-size: 33%;
}