.text-field:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1;
    -fx-border-color: null;
    -fx-background-color: null;
}

.text-field{
    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-background-color: null;
    -fx-select-on-focus:false;
}

.button {
    -fx-background-color: gold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, lightgrey, 1, 0.3, 1, 1);
}

.button:pressed {
    -fx-border-color: null;
    -fx-background-color: gold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, lightgrey, 1, 1, 1, 1);
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: crimson;
    -fx-text-fill: white;
}